
.nav-div {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
}

.nav-div a {
    color: rgb(9, 80, 213); 
    text-decoration: none;
    margin: 0 10px;
    transition: transform 0.2s, color 0.2s; 
    transform-origin: center;
}

.nav-div a:hover {
    transform: scale(1.9); 
    color: rgb(7, 188, 122); 
}
.images-div {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.list-container {
    text-align: center; 
}

.list-container li {
    display:inline-table; 
    margin: 0 10px; 
}



html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body {
    background-color: rgb(226, 226, 226);
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}

.table-container {
    text-align: center; 
    margin: 0 auto; 
}

.table-container h3 {
   padding: 8px;
   text-align: center;
}

.table-container table {
    width: 400px;
    margin: 0 auto;
    
}

.table-container th, .table-container td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black; 
} 
form {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(235, 237, 237);
}

.custom-button { 
    background-color: #3498db; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Display a pointer cursor on hover */
    transition: background-color 0.2s; /* Add a smooth transition effect */
}

.custom-button:hover {
    color:black;
    background-color: #22c5c8; /* Change background color on hover */
}

